*
{
    font-family: "Segoe UI";
}

/* WIDGET STYLING */
QWidget[accessibleName="Application"]
{
    background-color: #363a44;
}

/* QFRAME STYLING */
QFrame
{
    width: 100%;
    height: auto;
}

/* GAME WIDGET STYLING */
QFrame[accessibleName="GameHeaderFrame"]
{
    background-color: #2a2d35;
    padding: 3px 0px;
}

QFrame[accessibleName="ColorBoxFrame"]
{
    margin: 0px;
    padding: 0px;
    background-color: #1e2126;
}

QLabel[accessibleName="GameHeaderLabel"]
{
    color: white;
}

QPushButton[accessibleName="ColorBox"],
QPushButton[accessibleName="ColorBoxFinished"],
QFrame[accessibleName="LampFrame"]
{
    height: 35px;
    border-radius: 2px;
    margin: 5px 5px;
}

QPushButton[accessibleName="ColorBox"]
{
    background-color: white;
}

QFrame[accessibleName="LampFrame"]
{
    border-radius: 12px;
    margin: 5px 2px;
}

QPushButton[accessibleName="ColorBoxFinished"]
{
    background-color: #1768f0;
    color: white;
}


/* HOME WIDGET STYLING */
QFrame[accessibleName="HomeHeader"]
{
    background-color: #1e2126;
}

QLabel[accessibleName="HomeHeaderTitleLabel"]
{
    color: white;
    font-size: 45px;
    font-family: "Segoe UI Semibold";
    margin: 0px;
    padding: 0px;
}

QLabel[accessibleName="HomeHeaderWebsiteLabel"]
{
    color: white;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}

QLabel[accessibleName="HomeContentTitleLabel"]
{
    color: black;
    font-size: 20px;
    margin: 0px;
    padding-bottom: 10px;
}

QScrollArea[accessibleName="HomeScrollArea"]
{
    border: none;
}

QWidget[accessibleName="HomeScrollAreaContents"]
{
    background-color: white;
}

QFrame[accessibleName="ArticleFrame"]
{
    background-color: transparent;
    border-radius: 2px;
    padding: 15px 20px;
    border: 1px solid #D5D8DE;
    border-left: none;
    border-right: none;
}

QLabel[accessibleName="ArticleTitleLabel"]
{
    color: black;
    font-size: 18px;
    margin: 0px;
}

QLabel[accessibleName="ArticleContentLabel"]
{
    color: #767a84;
    font-size: 14px;
    font-family: "Segoe UI Semilight";
    margin: 0px;
}


/* SIDEBAR STYLING */
QFrame[accessibleName="SidebarFrame"]
{
    background-color: #17181a;
    border-left: 3px solid #1768f0;
    margin: 0px;
}

QLabel[accessibleName="SidebarTitleLabel"]
{
    font-size: 16px;
    font-family: "Segoe UI Semibold";
}

QPushButton[accessibleName="SB_HomeButton"],
QPushButton[accessibleName="SB_PlayOfflineButton"],
QPushButton[accessibleName="SB_PlayOnlineButton"],
QPushButton[accessibleName="SB_LearnButton"],
QPushButton[accessibleName="SB_ContactButton"],
QPushButton[accessibleName="SB_ToggleChatButton"]
{
    width: 25px;
    height: 40px;
    padding: 10px 20px;
    background-color: transparent;
    text-align: center;
    margin: 0px;
    border: none;
    margin-left: 0px;
}

QPushButton[accessibleName="SB_HomeButton"]:hover,
QPushButton[accessibleName="SB_PlayOfflineButton"]:hover,
QPushButton[accessibleName="SB_PlayOnlineButton"]:hover,
QPushButton[accessibleName="SB_LearnButton"]:hover,
QPushButton[accessibleName="SB_ContactButton"]:hover,
QPushButton[accessibleName="SB_ToggleChatButton"]:hover
{
    background-color: #0d0e0f;
}

QPushButton[accessibleName="SB_HomeButton"]
{
    qproperty-icon:url(:/icons/home2.png);
    qproperty-iconSize: 20px 20px;
}

QPushButton[accessibleName="SB_PlayOfflineButton"]
{
    qproperty-icon:url(:/icons/play2.png);
    qproperty-iconSize: 20px 20px;
}

QPushButton[accessibleName="SB_PlayOnlineButton"]
{
    qproperty-icon:url(:/icons/online2.png);
    qproperty-iconSize: 20px 20px;
}

QPushButton[accessibleName="SB_LearnButton"]
{
    qproperty-icon:url(:/icons/learn.png);
    qproperty-iconSize: 20px 20px;
}

QPushButton[accessibleName="SB_ContactButton"]
{
    qproperty-icon:url(:/icons/contact.png);
    qproperty-iconSize: 20px 20px;
}

QPushButton[accessibleName="SB_ToggleChatButton"]
{
    qproperty-icon:url(:/icons/chat.png);
    qproperty-iconSize: 20px 20px;
}

/* CHAT STYLING */
QFrame[accessibleName="ChatFrame"]
{
    background-color: #2a2d35;
    border-left: 1px solid #262930;
}

QFrame[accessibleName="ChatHeaderFrame"]
{
    background-color: #17181a;
    padding: 0px;
    border-left: 4px solid #1768f0;
    /*border-left: 1px solid #17181a;*/
}

QLineEdit[accessibleName="ChatInput"],
QWidget[accessibleName="ChatOutput"]
{
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 2px;
}

QLineEdit[accessibleName="ChatInput"]
{
    background-color: #363a44;
    height: 25px;
    padding: 5px 10px;
    font-size: 14px;
}

QTextEdit[accessibleName="ChatOutput"]
{
    background-color: transparent;
    padding: 5px 10px;
    font-size: 15px;
}

QLabel[accessibleName="ChatHeaderLabel"]
{
    font-size: 15px;
    font-family: "Segoe UI Semibold";
}

QPushButton[accessibleName="ChatHeaderCloseButton"]
{
    height: 25;
    width: auto;
    padding: 0px;
    margin: 0px;
    qproperty-icon:url(:/icons/right-arrow.png);
    qproperty-iconSize: 10px 10px;
}

QPushButton[accessibleName="ChatSend"]
{
    height: 25px;
    background-color: #1768f0;
    color: white;
    border: none;
    border-left: none;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 2px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

/* DEFAULT STYLING */
QLabel
{
    color: white;
    font-size: 16px;
}

QPushButton
{
    background-color: transparent;
    font-size: 14px;
}

QToolTip
{
    background-color: #121316;
    color: white;
    border: none;
}
